@import 'common/variables';
@import 'common/functions';

.footer {
  @include flex-row(unset);
  justify-content: space-between;
  padding-block: pixToRem(37);

  .footer_social-widgets {
    @include flex-row(pixToRem(16))
  }

  .footer__call {
    @include flex-row(pixToRem(40))
  }
}

.footer-bottom {
  padding-block: pixToRem(25);
  background-color: $clr-neutral-200;
  font-size: pixToRem(12);
  color: #828282;
  
  .container {
    @include flex-row(unset);
    justify-content: space-between;
  }
}