@import 'common/variables';
@import 'common/functions';
@import "logo";
@import "hamburger";
@import "phone-number";
@import "button";

.header {
  position: relative;
}

.header__nav {
  padding: 1rem 0;
  font-size: pixToRem(14);
  background-color: $clr-neutral-200;
  color: $clr-neutral-800;
}

.header__nav-items {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: pixToRem(30);
}

.header__company {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-block: pixToRem(20);
}

.header__hamburger {
  position: absolute;
  top: 10px;
  right: 10px;
}

.header__services {
  width: 100%;
  border-top: 1px solid $clr-neutral-200;
  padding-block: pixToRem(15);

  .header__services-items {
    @include flex-row(pixToRem(40));
    flex-wrap: wrap;
  }
}


@media only screen and (max-width: $mobile-breakpoint) {

  .header__nav-items {
    flex-direction: column;
    display: none;
    align-items: center;
    margin-top: 1rem;
  }

  .header__nav {
    min-height: 4rem;
  }
}
