@import 'common/variables';
@import 'common/functions';
@import "card";

.offers::before {
  content: "";
  min-width: 188px;
  min-height: 60px;
  background-image: url("../img/truck.svg");
  position: absolute;
  right: 10%;
  top: 60px;
}

.offers {
  padding-top: 80px;
  background-color: $clr-neutral-200;
  position: relative;

  .offers__title {
    font-weight: $fw-700;
    font-size: pixToRem(24);
  }

  .offers__cards {
    @include flex-row(pixToRem(30));
    flex-wrap: wrap;
    margin-top: pixToRem(38);
    margin-bottom: 0;
    justify-content: center;
    padding: 0;

    .offers__button-buy {
      margin-bottom: pixToRem(25);
    }
  }
}

