@import "common/reset";
@import "common/variables";
@import "common/functions";

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.7;
}

body {
  font-family: $ff-regular;
  line-height: $lh-regular;
  margin: 0;
  padding: 0;
}

.container {
  max-width: min(#{$max-width}, 100% - #{$container-padding} * 2);
  margin-inline: auto;
}

@import "header";
@import "hero";
@import "offers";
@import "promo";
@import "footer";
