@import "common/reset";
@import "common/variables";
@import "common/functions";


a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: $ff-regular;
  line-height: $lh-regular;
}

.container {
  max-width: min(#{$max-width}, 100% - #{$container-padding} * 2);
  margin-inline: auto;
}


.button {
  border: 2px solid $clr-primary-400;
  border-radius: pixToRem(40);
  padding: pixToRem(12) pixToRem(26);
}

.button.inverted {
  border-color: $clr-neutral-100;
  padding: pixToRem(11) pixToRem(30);
  letter-spacing: 0.05rem;
}


.button-buy {
  padding: pixToRem(9) pixToRem(40);
  font-size: pixToRem(14);
  background-color: $clr-primary-400;
  color: $clr-neutral-100;
  border-radius: pixToRem(30);
  border: none;
  outline: none;
  cursor: pointer;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: pixToRem(45);
  min-height: pixToRem(45);
  border: 2px solid $clr-primary-400;
  border-radius: 50%;
}

@import "header";
@import "hero";
@import "offers";
@import "promo";
@import "footer";
