@import "variables";

.fw-regular {
  font-weight: $fw-regular;
}

.fw-bold {
  font-weight: $fw-bold;
}

.lh-regular {
  line-height: 1.17rem;
}

.lh-bigger {
  line-height: 1.42rem;
}

.color-dark {
  color: $clr-neutral-800
}

.color-black {
  color: $clr-neutral-900;
}

.color-white {
  color: $clr-neutral-100;
}

.color-primary-400 {
  color: $clr-primary-400
}

.bg-neutral-200 {
  background-color: $clr-neutral-200;
}

@mixin list-flex($gap) {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: $gap
}