// Colors
$clr-neutral-200: #EFEFEF;
$clr-neutral-800: #333333;
$clr-primary-400: #66C05D;
$clr-neutral-900: #000000;
$clr-neutral-100: #FFFFFF;

// Font-weight
$fw-regular: 400;
$fw-bold: 700;

// Font-family
$ff-regular: 'Roboto', sans-serif;

// Container
$max-width: 1110px;
$container-padding: 20px;
